@import './common/index';

body {
    padding: 0;
    margin: 0;
    color: #333;
}

* {
    box-sizing: border-box;
}

.main-container {
    padding: 0 20px;
}

.loading {
    font-size: 50px;
    margin-top: 50px;
}

@keyframes rot {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

ul {
    list-style: none;
    -webkit-padding-start: 0;
}

.nav {
    li {
        display: inline-block;

        &.active {
            a {
                color: #111;
            }
        }

        a {
            display: inline-block;
            padding: 5px 15px;
            color: rgb(158, 95, 0);
            text-decoration: none;
            font-size: 18px;
            text-transform: uppercase;

            &:hover {
                color: #111;
            }
        }
    }
}

.txtIntro {
    font-size: 30px;
}

.cssTest {
    margin-top: 50px;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    text-transform: capitalize;
    font-size: 22px;
    box-shadow: 2px 2px 5px #ccc;
    animation: rot 15s linear infinite;
}

.list-catagories {
    li {
        display: inline-block;
        padding: 0 10px;

        &.curr {
            a {
                color: #555;
            }
        }

        a {
            display: inline-block;
            padding: 5px 10px;
            font-size: 20px;
            color: #999;
            text-decoration: none;
            text-transform: capitalize;

            &:hover {
                color: #555;
            }
        }
    }
}

.cataDetail {
    font-size: 20px;
    margin-top: 50px;
}

.productsWrap {
    overflow: hidden;
    padding-top: 30px;

    .siderbar {
        width: 25%;
        padding: 10px;
        display: block;
        float: left;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-align: left;
        font-size: 18px;

        h3 {
            color: #111;
        }

        li {
            margin-bottom: 15px;

            &.curr {
                a {
                    text-decoration: underline;
                }
            }
        }

        a {
            color: #333;
            font-size: 15px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .products {
        width: 70%;
        float: right;
    }

    .productDetail {
        p {
            font-size: 22px;
        }
    }
}

.reddit-api {
    ul {
        text-align: left;

        &.loaded {
            opacity: 0.5;
        }

        li {
            margin-bottom: 10px;
        }
    }
}

.refresh {
    cursor: default;
    color: blue;
    opacity: 0.2;
    text-decoration: underline;

    &.enable {
        cursor: pointer;
        opacity: 1;
    }
}
